<div class="headword">{{Front}}</div>

<div style="display: none">{{Sound}}</div>

<a id="sound" class="redbutton">
<div class="redbutton">
	<div class="play"></div>
</div>
</a>

<div class="content">
  <div class="tabs">
    <input name="tabs" type="radio" id="tab-1" checked="checked" class="input"/>
    <label for="tab-1" class="label">русский</label>
    <div class="panel">
      {{Ru_Meaning}}
    </div>

    <input name="tabs" type="radio" id="tab-2" class="input"/>
    <label for="tab-2" class="label">английский</label>
    <div class="panel">
      {{En_Meaning}}
    </div>
  </div>
</div>
