.card {
    font-family: lucida sans unicode;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: #f5f5f5;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    width: 100%;
    padding-top: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
    color: #0c0201;
    font-size: 2vh;
    display: block;
    content: "";
    clear: both;
}

@font-face {
  font-family: 'strokefont';
  src: url('kanji.ttf')  format('truetype');
}

.center {
    text-align: center;
}

.headword {
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: sans-serif;
    color: #0c0201;
    font-size: 8vh;
}

.stroke {
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: strokefont;
    color: #0c0201;
    font-size: 18vh;
    height: 20vh;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.redbutton {
  color: #f5f5f5;
  background-color: #be3513;
  border-radius: 10px;
  width: 45%;
  height: 5vh;
  font-size: 3.5vh;
}


.strokeBar {
    color: #f5f5f5;
    background-color: #be3513;
    border-radius: 10px;
    height: 1vh;
}

.playButton {
    color: #f5f5f5;
    background-color: #be3513;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

.play {
  width: 3vh;
  height: 1.5vh;
  margin: auto;
  cursor: pointer;
  margin-top: 4%;
  margin-left: 42%;
}
.play:after {
    content: '';
  display: inline-block;
  position: relative;
  top: 1px;
  left: 3px;
  border-style: solid;
  border-width: 1.5vh 0 1.5vh 3vh;
  border-color: transparent transparent transparent white;
}